# Logs
react-admin-app/logs
react-admin-app/*.log
react-admin-app/npm-debug.log*
react-admin-app/yarn-debug.log*
react-admin-app/yarn-error.log*
react-admin-app/pnpm-debug.log*
react-admin-app/lerna-debug.log*
react-admin-app/node_modules
react-admin-app/dist
react-admin-app/dist-ssr
react-admin-app/*.local

# Editor directories and files
react-admin-app/.vscode/*
react-admin-app/!.vscode/extensions.json
react-admin-app/.idea
react-admin-app/.DS_Store
react-admin-app/*.suo
react-admin-app/*.ntvs*
react-admin-app/*.njsproj
react-admin-app/*.sln
react-admin-app/*.sw?

server-api/.bundle
server-api/db/*.sqlite3
server-api/db/*.sqlite3-*
server-api/log/*
server-api/tmp/*
server-api/log/.keep
server-api/tmp/.keep
server-api/tmp/pids/*
server-api/tmp/pids/
server-api/tmp/pids/.keep
server-api/storage/*
server-api/storage/.keep
server-api/tmp/storage/*
server-api/tmp/storage/
server-api/tmp/storage/.keep
server-api/config/master.key
